h1{
	text-align: center;
}

p{
	text-align: justify;
	font-size: 200%;
}

div{
	margin: 2%;
	height: 85%;
	width: 95%;
	text-align: center;
}

td{
	text-align: justify;
	font-size: 120%;
	font-family: monospace;
	white-space: nowrap;
}

td.breakpoint{
	background-color: green;
}