h1{
	text-align: center;
}

p{
	text-align: justify;
	font-size: 200%;
}

#debugWindow{
	margin: 2%;
	height: 85%;
	width: 95%;
	overflow:scroll;
}

#toolWindow{
	height: 5%;
	width: 95%;
	top: 72%;
}

table{
}

td{
	text-align: justify;
	font-size: 120%;
	font-family: monospace;
	white-space: nowrap;
}

td.lineNumber{
}

tr.breakpoint{
	background-color: pink;
}

tr.currentLine{
	background-color: yellow;
}

.command{
	background-color: #eeeeee;
	margin-right: 4;
	margin-left: 4;
	margin-top: 2;
	margin-bottom: 2;
	vertical-align: middle;
}


