
/*
#commands{
	width: 230;
	text-align: center;
	padding-top: 3;
}
#output{
	width: 700;
	padding-left: 5;
	padding-top: 3;
}


.option{
	width: 105;
	height: 40;
	background-color: #eeeeee;
	margin-right: 4;
	margin-left: 4;
	margin-top: 2;
	margin-bottom: 2;
	vertical-align: middle;
}

.option_text{
	padding: 2;
	width: 170;
	height: 55;
	background-color: #eeeeee;
	margin-top: 2;
	margin-bottom: 2;
}

#errorMsg{
	height: 0;
	font-size: 125%;
	background-color: orange;
}
#ok{
	float: left;
	height: 0;
}

#errorBtn{
	height: 0;
}

#command_text{
	height: 130;
	width: 950;
	text-align: center;
	margin-top: 0;
}

.text_btn{
	font-size: 100%;
	width: 100px;
	height: 25;
}

.simp_btn{
	margin-top: 4;
	font-size: 105%;
	height: 30;
	width: 100px;
}*/