h1{
	text-align: center;
}

p{
	text-align: justify;
	font-size: 200%;
}

div{
	background-color: #dddddd;
	margin: 8;
	height: 530;
	float: left;
}

#commands{
	width: 200;
	text-align: center;
}
#output{
	width: 700;
	padding-left: 5;
	padding-top: 3;
}

textarea{
	width: 690;
	height: 525;
	font-size: 125%;
	text-align: justify;
}

.option{
	width: 85;
	height: 30;
	background-color: #eeeeee;
	margin: 4;
}

input[type="button"]{
	margin: 2;
	width: 75;
	height: 25;
}

.option_text{
	padding: 5;
	width: 170;
	height: 50;
	background-color: #eeeeee;
}